@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: 'DM Sans';
  min-width: 319px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0px 20px;
  
  

  @include tablet {
    padding: 0px 32px;
    max-width: 768px;
  }

  @include desktop {
    padding: 0px 16px;
    max-width: 1280px;
  }
}
