

<section class="about">
    <div class="container">
    <p class="about__subtitle">tradition and love</p>
    <h2 class="about__title">how it's made?</h2>
    <div class="about__wrap">
        <picture class="about__img">
        <source srcset="
                    ./images/about/about-desktop.png 1x,
                    ./images/about/about-desktop@2x.png 2x" media="(min-width: 1280px">
        <source srcset="
                    ./images/about/about-tab.png 1x,
                    ./images/about/about-tab@2x.png 2x" media="(min-width: 768px">
        <source srcset="
                    ./images/about/about-mob.png 1x,
                    ./images/about/about-mob@2x.png 2x" media="(max-width: 767px"> 
        <img src="./images/about/about-desktop.png" alt="cow and milk">
    </picture> 
    <div class="about__textwrap">
    <p class="about__top-text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
    Maecenas eleifend erat at justo fringilla.</p>
    <p class="about__text">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
    Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt. </p>
    <p class="about__text">Aliquam erat volutpat. Aenean accumsan.</p>
    <button type="button" class="about__btn btn btn--light" data-about-modal-open>Read more
    <svg class="about-btn__icon">
        <use href="./images/sprite.svg#icon-arrow" ></use>
    </svg>
   </button></div>
</div></div>
</section>