<section class="customer_reviews">
    <!-- <h2>customer_reviews</h2> -->
<div class="container">
    <!-- Подключаем JS слайдера -->
    <script defer src="https://itchief.ru/examples/libs/simple-adaptive-slider/simple-adaptive-slider.min.js">
    </script>
    <script>document.addEventListener('DOMContentLoaded', function () {

            // инициализация слайдера
            var slider = new SimpleAdaptiveSlider('.slider', {
                loop: true,
                autoplay: true,
                interval: 3000,
                swipe: true,

            });
        });
    </script>
    <!-- Разметка слайдера -->
    <div class="slider">
        <div class="slider__wrapper">
            <div class="slider__items">
                <div class="slider__item">
                    <div class="slider__img">
                        <picture>
                            <source srcset="./images/customer-reviews/slider-pic1-1x.png 1x,
                                                            ./images/customer-reviews/slider-pic1-2x.png 2x"
                                media="(min-width:320px)">
                            <img class="" src="./images/customer-reviews/slider-pic1-1x.png"
                                alt="фото человека который написал отзыв">
                        </picture>
                    </div>
                    
                        <div class="slider__quote">
                            <div class="wrapper">
                            <p class="quote__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                                sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                            </p>
                            
                            </div>
                        </div>
                    <p class="slider__down-text">Emily, Los Angeles</p>
    
                </div>
                <div class="slider__item">
                    <div class="slider__img">
                            <picture>
                                <source srcset="./images/customer-reviews/slider-pic2-1x.png 1x,
                                                    ./images/customer-reviews/slider-pic2-2x.png 2x"
                                    media="(min-width:320px)">
                                <img class="" src="./images/customer-reviews/slider-pic2-1x.png"
                                    alt="фото человека который написал отзыв">
                            </picture>
                        </div>
                        <div class="slider__quote">
                            <div class="wrapper">
                                <p class="quote__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                                    sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                                </p>
                        
                            </div>
                        </div>
                            <p class="slider__down-text">Emily, Los Angeles</p>
                    </div>
                <div class="slider__item">
                    <div class="slider__img">
                        <picture>
                            <source srcset="./images/customer-reviews/slider-pic3-1x.png 1x,
                                                ./images/customer-reviews/slider-pic3-2x.png 2x"
                                media="(min-width:320px)">
                            <img class="" src="./images/customer-reviews/slider-pic3-1x.png"
                                alt="фото человека который написал отзыв">
                        </picture>
                    </div>
                
                <div class="slider__quote">
                    <div class="wrapper">
                        <p class="quote__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                            sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                        </p>
                
                    </div>
                </div>
                    <p class="slider__down-text">Emily, Los Angeles</p>
                </div>
            </div>
            </div>
        </div>
   
    </div>
</div>
</section>