<footer>
<div class="container">
<div class="footer_holder">
    <div class="footer__title">
        <p class="foter__title--fs30">homemade ice cream made</p>
        <p class="foter__title--fs58">with passion</p>
    </div>


    <div class="footer__social-links">
        <a class="footer__social-link" target="_blank" href="https://github.com/" rel="noopener, nofolow, noindex">
            <svg class="footer__link-icon">
                <use href="./images/sprite.svg#icon-github"></use>
            </svg></a>
        <a class="footer__social-link" target="_blank" href="https://web.telegram.org/" rel="noopener, nofolow, noindex">
            <svg class="footer__link-icon">
                <use href="./images/sprite.svg#icon-telegram"></use>
            </svg></a>
        <a class="footer__social-link" target="_blank" href="https://www.facebook.com/" rel="noopener, nofolow, noindex">
            <svg class="footer__link-icon">
                <use href="./images/sprite.svg#icon-facebook"></use>
            </svg></a>
</div>

<div class="footer__contacts">
    <p>Feel free to contact</p>
    <a href="">+61 (0) 383 766 284</a>
</div>


<div class="footer__copyright">
        © 2019 - IceCream. All Rights Reserved.
</div>
</div>

</footer>