<section class="section-gallery">
    <!-- <h2>section-gallery</h2> -->
    <div class="container">
        <div class="grid">
            <div class="pic-1">
                <img 
                srcset="
                ./images/gallery/pic1.jpg 1x,
                ./images/gallery/pic1-2x.jpg 2x"
                src="./images/gallery/pic1.jpg" alt="Бек-енд розробка" width="140" class="gallery-image"/>
            </div>
            <div class="pic-2">
                <img 
                srcset="
                ./images/gallery/pic2.jpg 1x,
                ./images/gallery/pic2-2x.jpg 2x"
                src="./images/gallery/pic2.jpg" alt="Бек-енд розробка" width="140" class="gallery-image"/>
            </div>
            <div class="pic-3">
                <img 
                srcset="
                ./images/gallery/pic3.jpg 1x,
                ./images/gallery/pic3-2x.jpg 2x"
                src="./images/gallery/pic3.jpg" alt="Бек-енд розробка" width="140" class="gallery-image"/>
            </div>
            <div class="pic-4">
                <img 
                srcset="
                ./images/gallery/pic4.jpg 1x,
                ./images/gallery/pic4-2x.jpg 2x"
                src="./images/gallery/pic4.jpg" alt="Бек-енд розробка" width="285" class="gallery-image"/>
            </div>
            <div class="pic-5">
                <img 
                srcset="
                ./images/gallery/pic5.jpg 1x,
                ./images/gallery/pic5-2x.jpg 2x"
                src="./images/gallery/pic5.jpg" alt="Бек-енд розробка" width="140" class="gallery-image"/>
            </div>
            <div class="pic-6">
                <img 
                srcset="
                ./images/gallery/pic6.jpg 1x,
                ./images/gallery/pic6-2x.jpg 2x"
                src="./images/gallery/pic6.jpg" alt="Бек-енд розробка" width="140" class="gallery-image"/>
            </div>
            <div class="pic-7">
                <img 
                srcset="
                ./images/gallery/pic7.jpg 1x,
                ./images/gallery/pic7-2x.jpg 2x"
                src="./images/gallery/pic7.jpg" alt="Бек-енд розробка" width="140" class="gallery-image"/>
            </div>
            <div class="pic-8">
                <img 
                srcset="
                ./images/gallery/pic8.jpg 1x,
                ./images/gallery/pic8-2x.jpg 2x"
                src="./images/gallery/pic8.jpg" alt="Бек-енд розробка" width="140" class="gallery-image"/>
            </div>
            <div class="pic-9">
                <img 
                srcset="
                ./images/gallery/pic9.jpg 1x,
                ./images/gallery/pic9-2x.jpg 2x"
                src="./images/gallery/pic9.jpg" alt="Бек-енд розробка" width="140" class="gallery-image"/>
            </div>
            <div class="pic-10">
                <img 
                srcset="
                ./images/gallery/pic10.jpg 1x,
                ./images/gallery/pic10-2x.jpg 2x"
                src="./images/gallery/pic10.jpg" alt="Бек-енд розробка" width="140" class="gallery-image"/>
            </div>
          </div>
    </div>
</section>