<header class="hero-header">
  <div class="container">
    <div class="header">
      <img
        src="./images/hero-header/logo.png"
        alt="logo"
        class="header__logo"
      />
      <nav class="header-nav">
        <a href="" class="header-nav__link" id="home">Home</a>
        <a href="" class="header-nav__link" id="about-us">About us</a>
        <a href="" class="header-nav__link" id="how-it-made">How it’s made?</a>
        <a href="" class="header-nav__link" id="our-products">Our products</a>
        <a href="" class="header-nav__link" id="Contact">Contact</a>
      </nav>
      <button type="button" class="menu-btn">
        <img
          src="./images/hero-header/Burger.png"
          alt="mobile menu"
          width="24"
        />
      </button>
      <button type="button" class="btn header__btn btn--red">Buy now &nbsp&nbsp;&#62</button>
    </div>
    <div class="hero">
      <div class="hero__wrap">
        <div class="hero-main">
          <h1 class="hero-main__title">
          ice cream&nbsp; made with
          <span class="hero-main__title--red">passion</span>
        </h1>
          <nav class="hero-nav">
            <ul class="hero-nav__list">
            <li class="hero-nav__item">
              <a href="" class="hero-nav__link" id="Products">Products</a>
            </li>
            <li class="hero-nav__item">
              <a href="" class="hero-nav__link" id="how-it-made"
                >How it’s made?</a
              >
            </li>
            </ul>
          </nav>
        </div>
        <div class="hero-content">
          <ul class="hero-content__list">
          <li class="hero-content__item">
            <h3 class="hero-content__title">16</h3>
            <p class="hero-content__text">cafes</p>
          </li>
          <li class="hero-content__item">
            <h3 class="hero-content__title">23</h3>
            <p class="hero-content__text">food trucks</p>
          </li>
          </ul>
        </div>
      </div>
      <div class="hero-aside">
         <picture>
          <source
            media="(min-width:1280px)"
            srcset="
              ./images/hero-header/bio-eco/bio-eco-desk@1.webp 1x,
              ./images/hero-header/bio-eco/bio-eco-desk@2.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width:1280px)"
            srcset="
              ./images/hero-header/bio-eco/bio-eco-desk@1.png 1x,
              ./images/hero-header/bio-eco/bio-eco-desk@2.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./images/hero-header/bio-eco/bio-eco-tab@1.webp 1x,
              ./images/hero-header/bio-eco/bio-eco-tab@2.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./images/hero-header/bio-eco/bio-eco-tab@1.png 1x,
              ./images/hero-header/bio-eco/bio-eco-tab@2.png 2x
            "
            type="image/png"
          />
          <img
            src="./images/hero-header/bio-eco/bio-eco-desk@1.png"
            alt="icecreem"
          />
        </picture>
        <p class="hero-aside__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
      </div>
      <div class="hero__main-img">
        <picture>
          <source
            media="(min-width:1280px)"
            srcset="
              ./images/hero-header/icecream/icecream-desk@1.webp 1x,
              ./images/hero-header/icecream/icecream-desk@2.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width:1280px)"
            srcset="
              ./images/hero-header/icecream/icecream-desk@1.png 1x,
              ./images/hero-header/icecream/icecream-desk@2.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./images/hero-header/icecream/icecream-tab@1.webp 1x,
              ./images/hero-header/icecream/icecream-tab@2.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./images/hero-header/icecream/icecream-tab@1.png 1x,
              ./images/hero-header/icecream/icecream-tab@2.png 2x
            "
            type="image/png"
          />
          <source
            media="(max-width:767px)"
            srcset="
              ./images/hero-header/icecream/icecream-mob@1.webp 1x,
              ./images/hero-header/icecream/icecream-mob@2.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width:767px)"
            srcset="
              ./images/hero-header/icecream/icecream-mob@1.png 1x,
              ./images/hero-header/icecream/icecream-mob@2.png 2x
            "
            type="image/png"
          />
          <img
            src="./images/hero-header/icecream/icecream-desk@1.png"
            alt="icecreem"
          />
        </picture>
      </div>
      
      <div class="hero__aside-img">
         <picture>
          <source
            media="(min-width:1280px)"
            srcset="
              ./images/hero-header/tasty/tasty-desk@1.webp 1x,
              ./images/hero-header/tasty/tasty-desk@2.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width:1280px)"
            srcset="
              ./images/hero-header/tasty/tasty-desk@1.png 1x,
              ./images/hero-header/tasty/tasty-desk@2.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./images/hero-header/tasty/tasty-tab@1.webp 1x,
              ./images/hero-header/tasty/tasty-tab@2.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./images/hero-header/tasty/tasty-tab@1.png 1x,
              ./images/hero-header/tasty/tasty-tab@2.png 2x
            "
            type="image/png"
          />
          <img
            src="./images/hero-header/tasty/tasty-desk@1.png"
            alt="icecreem"
          />
        </picture>
      </div>
    </div>
  </div>
</header>
