
    <div class="mob-menu" id="mob-menu">
            <button class="mob-menu__buttons js-close-menu" type="button" aria-expanded="false" aria-controls="mob-menu">
                <svg class="mob-menu__icon" style="width: 14px; height: 14px;"
                    aria-label="Переключатель мобильного меню">
                    <use class="icon-cross" href="./images/sprite.svg#icon-close_40px"></use>
                </svg>
            </button>

            <button type="button" class="btn mob-menu__btn btn--light">Buy now &nbsp&nbsp;&#62</button>
            
            <nav class="mob-menu-nav">
                <a href="" class="mob-menu-nav__link" id="home">Home</a>
                <a href="" class="mob-menu-nav__link" id="about-us">About us</a>
                <a href="" class="mob-menu-nav__link" id="how-it-made">How it’s made?</a>
                <a href="" class="mob-menu-nav__link" id="our-products">Our products</a>
                <a href="" class="mob-menu-nav__link" id="Contact">Contact</a>
            </nav>

    