    <div class="backdrop-mobmenu is-transparent" data-backdrop>
    <div class="mob-menu" id="mob-menu" data-mobileMenu>
      <div class="mob-menu-holder">
        <div class="button-holder">
            <button class="mob-menu__button" type="button" data-closeMenuBtn>
                <svg class="mob-menu__icon" style="width: 30px; height: 30px;"
                    aria-label="Переключатель мобильного меню">
                    <use class="icon-cross" href="./images/sprite.svg#icon-close_40px"></use>
                </svg>
            </button>

            <button type="button" class="btn mob-menu__btn btn--light" data-mobmodal-open>Buy now 
              <svg class="header-btn__icon">
                <use href="./images/sprite.svg#icon-arrow"></use>
              </svg>
            </button>
        </div> 
    <nav class="nav">
        <ul class="mob-menu-nav">
              <li class="mob-nav__item"><a href="#home" class="mob-nav__link" >Home</a></li>
              <li class="mob-nav__item">
                <a href="#about-us" class="mob-nav__link" >About us</a>
              </li>
              <li class="mob-nav__item">
                <a href="#advantages" class="mob-nav__link" 
                  >How it’s made?</a
                >
              </li>
              <li class="mob-nav__item">
                <a href="#products" class="mob-nav__link" 
                  >Our products</a
                >
              </li>
              <li class="mob-nav__item"><a href="#contacts" class="mob-nav__link" >Contact</a></li>
            </ul>
    </nav>
    </div>
  </div>
  </div>

    