<section class="section-products" id="products">
    <div class="prod">
        <p class="prod__text">100% natural</p>
        <h2 class="prod__title">Products</h2>
    </div>
    <div class="container">
        <ul>
    <li class="products">
        <h3 class="products__title">Ice cream</h3>
        <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
        <button class="products__button" type="button" data-productmodal1-open>
        </button>
        <div class="products-holder" data-productmodal1>
            <div class="products-overlay">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                aliqua facilisis.</p>
                <button class="products__button btn--90deg" type="button" data-productmodal1-close>
                </button>                
            </div>

        </div>
    </li>
    <li class="products">
        <h3 class="products__title">Ice coffee</h3>
        <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
        <button class="products__button" type="button" data-productmodal2-open>
            <svg class="arrow" width="15" height="30">
                <use href="./images/sprite.svg#arrow"></use>
            </svg>
        </button>
        <div class="products-holder" data-productmodal2>
            <div class="products-overlay">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                aliqua facilisis.</p>
                <button class="products__button btn--90deg" type="button" data-productmodal2-close>
                </button>
            </div>

        </div>
    </li>
    <li class="products">
        <h3 class="products__title">Milkshakes</h3>
        <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
        <button class="products__button" type="button" data-productmodal3-open>
        </button>
        <div class="products-holder" data-productmodal3>
            <div class="products-overlay">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                aliqua facilisis.</p>
                <button class="products__button btn--90deg" type="button" data-productmodal3-close>
                </button>
            </div>

        </div>
    </li>
    </ul>
    </div>
</section>