@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Titan+One&display=swap');
ul,
ol,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  list-style: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages {
  padding-top: 40px;
  padding-bottom: 80px;
  background-color: #fff5f6;

  @media screen and (min-width: 768px) {
    padding-top: 80px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 21px;
    padding-bottom: 120px;
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;

    @media screen and (min-width: 768px) {
      padding-right: 32px;
      padding-left: 32px;
    }
    @media screen and (min-width: 1280px) {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
}
.advantages__list {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.advantages__item {
  display: block;
  &:not(:last-child) {
    margin-bottom: 32px;
    @media screen and (min-width: 768px) {
      margin-bottom: 0;
      margin-right: 4px;
    }
  }
  @media screen and (min-width: 1280px) {
    &:first-child {
      margin-right: 142px;
    }
    &:nth-child(2) {
      margin-right: 106px;
    }
  }

  &::before {
    content: '';
    display: block;
    margin-bottom: 16px;
    background-repeat: no-repeat;
    @media screen and (min-width: 768px) {
      margin-bottom: 36px;
    }
    @media screen and (min-width: 1280px) {
      margin-bottom: 40px;
    }
  }

  &:first-child::before {
    width: 33px;
    height: 50px;
    background-image: url(../images/advantages/advantages-icon-milk.svg);
  }
  &:nth-child(2)::before {
    width: 50px;
    height: 50px;
    background-image: url(../images/advantages/advantages-icon-bucket.svg);
  }
  &:last-child::before {
    width: 44px;
    height: 50px;
    background-image: url(../images/advantages/advantages-icon-heart.svg);
  }
}
.advantages__title {
  padding-bottom: 15px;

  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 41px;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #d41443;

  @media screen and (min-width: 768px) {
    margin-bottom: 13px;
    padding: 0;
    font-size: 48px;
    line-height: 55px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 16px;
    font-size: 58px;
    line-height: 66px;
  }
}

.advantages__text {
  max-width: 230px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 170%;
  /* or 20px */

  color: #000000;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.74;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.02em;
  }
}
