


/* стили для элемента body */


/* дополнительные стили для этого примера */
.slider__items {
    counter-reset: slide;
}

.slider__item {
    counter-increment: slide;
}

.slider__item>div::before {
    content: counter(slide);
    position: absolute;
    top: 10px;
    right: 20px;
    color: #fff;
    font-style: italic;
    font-size: 32px;
    font-weight: bold;
}

.slider {
    
}

.slider__wrapper {}

.slider__items {
   
}

.slider__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   
    
}

.slider__img {}

.slider__quote {

    
}

.quote__text {
        line-height: 186%;
        letter-spacing: 0.04em;
}

.slider__down-text {}

.slider {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    overflow: hidden;
    position: relative;
}

.slider__wrapper {
    background-color: #eee;
    overflow: hidden;
    position: relative;
}

.slider__items {
    display: flex;
    transition: transform .5s ease;
}

.transition-none {
    transition: none;
}

.slider__item {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
}

.slider__control {
    align-items: center;
    background: rgba(0, 0, 0, .3);
    color: #fff;
    display: none;
    height: 50px;
    justify-content: center;
    opacity: .5;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    user-select: none;
    width: 40px;
}

.slider__control_show {
    display: flex;
}

.slider__control:focus,
.slider__control:hover {
    color: #fff;
    opacity: .7;
    text-decoration: none;
}

.slider__control_prev {
    left: 0;
}

.slider__control_next {
    right: 0;
}

.slider__control::before {
    background: transparent no-repeat center center;
    background-size: 100% 100%;
    content: '';
    display: inline-block;
    height: 20px;
    width: 20px;
}

.slider__control_prev::before {
    background-image: url("data:image/svg+xml;xmlns='http: //www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8' %3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z' /%3E%3C/svg%3E");

    }

    .slider__control_next::before {
        background-image: url("data:image/svg+xml;xmlns='http: //www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8' %3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z' /%3E%3C/svg%3E");

        }

        .slider__indicators {
            bottom: 10px;
            display: flex;
            justify-content: center;
            left: 0;
            list-style: none;
            margin: 0 15%;
            padding-left: 0;
            position: absolute;
            right: 0;
            user-select: none;
        }

        .slider__indicator {
            background-clip: padding-box;
            background-color: rgba(255, 255, 255, .5);
            border-bottom: 10px solid transparent;
            border-top: 10px solid transparent;
            cursor: pointer;
            flex: 0 1 auto;
            height: 4px;
            margin-left: 3px;
            margin-right: 3px;
            width: 30px;
        }

        .slider__indicator_active {
            background-color: #fff;
        }




