

/* стили для элемента body */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
        sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

/* дополнительные стили для этого примера */
.slider__items {
    counter-reset: slide;
}

.slider__item {
    counter-increment: slide;
}

.slider__item>div::before {
    content: counter(slide);
    position: absolute;
    top: 10px;
    right: 20px;
    color: #fff;
    font-style: italic;
    font-size: 32px;
    font-weight: bold;
}
