.hero-header {
  background-color: #ffb8ca;
}
.header {
  display: flex;
}
.header__logo {
  margin-top: 8px;
}
.header-nav {
  display: none;
  @include desktop {
    display: block;
  }
}
.header-btn {
  display: none;
  @include tablet {
    display: block;
  }
}
.menu-btn {
  background-color: transparent;
  border: none;
  margin-left: auto;

  padding: 0;
}
.menu-btn__icon {
  fill: #d41443;
}
// -----------------------hero----------------------
.hero {
  position: relative;
  padding-top: 136px;
  padding-bottom: 158px;
}
.hero__main {
  z-index: 1;
  position: relative;
}
.hero__title {
  font-family: 'Titan One';
  @include font(36px, 1.15, 400, 0.04);
  max-width: 218px;
  color: #ffffff;
}
.hero .hero__title--red {
  @include font(48px, 0.95, none, none);
  color: #d41443;
}
.hero-nav {
  padding-top: 10px;
}
.hero-nav__list {
  display: flex;
}
.hero-nav__item {
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 24px;
  &:first-child {
    margin-right: 10px;
    background-color: #d41443;
    width: 62px;
    color: #fff;
  }
  &:last-child {
    background-color: #fff;
    width: 83px;
    color: #d41443;
  }
}
.hero-nav__link {
  @include font(8px, 1.25, 400, none);
  color: inherit;
}

.hero-img {
  position: absolute;
  bottom: 0;
  right: 32px;
}

.hero__aside {
  display: none;
  @include tablet {
    display: block;
  }
}
.hero-content {
  display: none;
  @include tablet {
    display: block;
  }
}
.hero__aside-img {
  display: none;
  @include tablet {
    display: block;
  }
}
