.mob-menu {
  position: fixed;
  right: 0px;
  top: 0px;
  min-height: 100vh;
  padding: 20px;
  flex-direction: column;
  background-color: #e17992;
  z-index: 1;
  transform: translateX(100%);
  pointer-events: none;
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
  visibility: hidden;

  @include mobile {
    width: 250px;
  }

  @include tablet {
    width: 254px;
  }
}

.is-open {
  visibility: visible;
  transform: translateX(0%);
  pointer-events: all;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mob-menu-holder {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 313px;
  height: 57vh;
}

.button-holder {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 5px;
}

.mob-menu__button {
  display: flex;
  margin-left: auto;
  background-color: #e17992;
  border: none;
  padding: 0px;
}

.mob-menu__btn {
  margin: 0px 0px 0px 14px;
  min-height: 44px;

  @include mobile {
    margin-left: 0px;
    width: 209px;
  }

  @include tablet {
    width: 186px;
  }
}

.mob-menu__icon {
  fill: #fff;

  .mob-menu__button:hover &,
  .mob-menu__button:focus & {
    fill: #d41443;
  }
}

.mob-menu-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 208px;
  height: 50vh;
}

.mob-nav__item {
  position: relative;
  max-height: 42px;
  flex-grow: 1;
  align-items: center;
  display: flex;
}

.mob-nav__item:nth-child(2n + 1) {
  &::after,
  &::before {
    content: ' ';
    position: absolute;
    left: -20px;
    width: calc(100% + 40px);
    border: 1px solid #e18298;
  }

  &::after {
    bottom: 0px;
  }

  &::before {
    top: 0px;
  }
}

.mob-nav__link {
  @include font(16px, 1.31, 700, none);
  color: $white;
  &.active.active {
    color: $red;
  }
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #d7cbce;
  }
}
